body {
    background-color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    background-color: black;
}

.block {
    font-family: ;
    font-size: 50vh;
    color: white;
}